<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" bacaan_warta="wid_wartath=device-wid_wartath, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" bacaan_warta="ie=edge">
    <title>Data Warta Gereja</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body style="background: lightgray">
    <nav class="top-navbar">
        <!-- Navbar-->
        <a href="#">GMII Akcaya</a>
    </nav>
    <div class="sidebar">
                <div class="sidebar-menu">
                        <ul>
                            <li class="nav-link">
                                <a href="/kegiatan_gereja"><i class="fas fa-angle-right"></i> Kegiatan Gereja</a>
                            </li>
                            <li class="nav-link">
                                <a href="/warta"><i class="fas fa-angle-right"></i> Warta Gereja</a>
                            </li>
                            <li class="nav-link">
                                <a href="/retret"><i class="fas fa-angle-right"></i> Retret</a>
                            </li>
                            <li class="nav-link">
                                <a href="./"><i class="fas fa-angle-right"></i> Log Out</a>
                            </li>
                        </ul>
                </div>
                <div class="sidebar-footer">
                    <div class="small">Log in as:</div>
                    <strong>Admin</strong>
                </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">

                <% if (messages.success) { %>
                    <div class="alert alert-success" role="alert"><%- messages.success %></div>
                <% } %>
                
                <% if (messages.error) { %>
                    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
                <% } %>

                <div class="card border-0 shadow rounded">
                    <div class="card-body">
                        <a href="/warta/create" class="btn1">TAMBAH POST</a>
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">ID Warta</th>
                                <th scope="col">Tanggal Warta</th>
                                <th scope="col">Bacaan Warta</th>
                                <th scope="col">Aksi</th>
                              </tr>
                            </thead>
                            <tbody>
                                <% if(data.length){
                                    
                                    for(var i = 0; i< data.length; i++) {%>  
                                        <tr>
                                            <th scope="row" class="text-center"><%= (i+1) %></th>
                                            <td><%= data[i].tanggal_warta%></td>
                                            <td><%= data[i].bacaan_warta%></td>
                                            <td class="text-center">
                                                <a href="/warta/edit/<%=data[i].id_warta%>" class="btn2">EDIT</a>
                                                <a onclick="return alert('Are You sure?')" href="/warta/delete/<%=data[i].id_warta%>" class="btn3">HAPUS</a>
                                            </td>
                                        </tr>
                                    <% }
                                    
                                }else{ %>
                                    <tr>
                                        <td colspan="4">
                                            <div class="alert alert-danger" role="alert">
                                                Data Tidak Ditemukan !
                                            </div>
                                        </td>
                                    </tr>
                                <% } %>    
                                </tbody>
                            </table>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    </script>

</body>
</html>